@model TelecommunicationDevicesStore.WebUI.Models.ProductDetailsModel
@{
	ViewBag.Title = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	var product = Model;
}

<div class="product-details py-5">
	<div class="container">
		<div class="row">
			<section class="col-md-5 p-3">
				@if (Model.ImageData != null)
				{
						<img class="img-thumbnail"
							 src="@Url.Action("GetImage", "Products", new { Model.Id })" />
				}
			</section>
			<section class="col-md-7 p-3">
				<div class="card p-3">
					<p><b>Id:</b> @product.Id</p>
					<p><b>Name:</b> @product.Name</p>
					<p class="mb-3"><b>Category:</b> @product.Category.Name</p>
					<p class="mb-3"><b>Price:</b> @product.Price AZN</p>
					<p class="mb-3"><b>Avalialbe:</b> @product.StockCount</p>
					<p class="mb-3"><b>Description:</b> @product.MetaDescription</p>
					<footer>
						<section class="fs-6">@Html.ActionLink("Back to products", "List", "Products", null, htmlAttributes: new { @class = "btn btn-outline-secondary" })</section>
					</footer>
				</div>
			</section>
		</div>
	</div>
</div>

