@model TelecommunicationDevicesStore.WebUI.Areas.Admin.Models.ProductEditModel

@{
	ViewBag.Title = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("_HeaderAdminPartial", "Edit a product"); }

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
<div class="form p-5">
	<h4>Product  @Model.Name</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Id)


	@foreach (var property in ViewData.ModelMetadata.Properties)
	{
		if (property.PropertyName != "Id" &&
			property.PropertyName != "CategoryName" &&
			property.PropertyName != "Categories" &&
			property.PropertyName != "CategoryId" &&
			property.PropertyName != "ImageData"&&
			property.PropertyName != "ImageMimeType")
		{
			<div class="form-group">
				@Html.Label(property.DisplayName ?? property.PropertyName, htmlAttributes: new { @class = "control-label col-md-2" })
				@if (property.PropertyName == "MetaDescription")
				{
					@Html.TextArea(property.PropertyName, null,
						rows: 5,
							columns: 5,
								htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessage(property.PropertyName, "", new { @class = "text-danger" })
				}
				else
				{
					@Html.TextBox(property.PropertyName, null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessage(property.PropertyName, "", new { @class = "text-danger" })
				}
			</div>
		}
	}

	<div class="form-group">
		@Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
		@Html.DropDownListFor(model => model.CategoryName, Model.Categories, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
	</div>

	<div class="form-group">
		<div style="position:relative;">
			<label>Picture</label>
			<a class='btn btn-outline-secondary' href='javascript:;'>
				Choose a file...
				<input type="file" name="Image" size="40"
					   style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
					   onchange='$("#upload-file-info").html($(this).val());'>
			</a>
			<span class='label label-info' id="upload-file-info"></span>
		</div>
		@if (Model.ImageData == null)
		{
			<div class="form-control-static">No picture</div>
		}
		else
		{
			<img class="img-thumbnail" width="150" height="150"
				 src="@Url.Action("GetImage", "Products",
                        new { Model.Id })" />
		}
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-primary" />
			@Html.ActionLink("Cancel changes and go back to list", "List", null, new
		   {
			   @class = "btn btn-outline-secondary"
		   })
		</div>
	</div>
</div>
}

@section ValidationSection{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}

