@model IEnumerable<TelecommunicationDevicesStore.WebUI.Areas.Admin.Models.ProductFullModel>

@{
    ViewBag.Title = "Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
 
@{ Html.RenderPartial("_HeaderAdminPartial", "Products"); }
<table class="table table-hover p-3">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Id)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Price)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.StockCount)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CategoryName)
		</th>
		<th></th>
	</tr>
	 
@foreach (var item in Model) {
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.Id)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Name)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Price) AZN
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.StockCount)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.CategoryName)
	</td>
	<td> 
		@Html.ActionLink("Edit", "Edit", new { productId = item.Id }, htmlAttributes: new { @class = "btn btn-outline-primary" })
		@Html.ActionLink("Details", "Details", new { productId = item.Id }, htmlAttributes: new { @class = "btn btn-outline-secondary" })
		@Html.ActionLink("Remove", "Remove", new { productId = item.Id }, htmlAttributes: new { @class = "btn btn-outline-danger" })
	</td>
</tr>
}

</table>
