@model TelecommunicationDevicesStore.WebUI.Models.CartIndexModel
@{
	ViewBag.Title = "Lighten - Your Cart";
	Layout = "~/Views/Shared/_Layout.cshtml";
	string currency = "AZN";
}
<style>
	#cartTable td {
		vertical-align: middle;
	}
</style>


<div class="container py-5">
	<table class="table" id="cartTable">
		<thead>
			<tr>
				<th>Quantity</th>
				<th>Product</th>
				<th class="text-right">Price</th>
				<th class="text-right">Total price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var line in Model.Cart.Lines)
			{
				<tr>
					<td class="text-center">@line.Quantity</td>
					<td class="text-left">@line.Product.Name</td>
					<td class="text-right">@line.Product.Price @currency</td>
					<td class="text-right">
						@((line.Quantity * line.Product.Price)) @currency
					</td>
					<td>
						@Html.ActionLink("Remove", "RemoveFromCart", "Cart",
									routeValues: new { productId = line.Product.Id, returnUrl = Request.Url.PathAndQuery },
										htmlAttributes: new { @class = "btn btn-outline-danger" })
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3" class="text-right">Total:</td>
				<td class="text-right">
					@Model.Cart.ComputeTotalValue() @currency
				</td>
			</tr>
		</tfoot>
	</table>

	<div class="text-center">
		<a class="btn btn-warning" href="@Model.ReturnUrl">Continue Shopping</a>
		@Html.ActionLink("Order", "Checkout", null, new { @class = "btn btn-warning" })
	</div>
</div>