
<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">

		<li class="nav-item">
			<a class="nav-link menu-title" href="#">
				Dashboard
			</a>
		</li>
		<li class="nav-item">
			@Html.ActionLink("All Products", "List", "Product", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
		<li class="nav-item">
			@Html.ActionLink("All Customers", "List", "Customer", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
		<li class="nav-item">
			@Html.ActionLink("All Orders", "List", "Order", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
		<li class="nav-item">
			@Html.ActionLink("Messages from Users", "List", "UserMessage", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
		<li class="nav-item dropdown-divider"></li>
		<li class="nav-item">
			@Html.ActionLink("Add New Product", "Add", "Product", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
		<li class="nav-item">
			@Html.ActionLink("Add New Category", "Add", "Category", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
	</ul>
</nav>
