
<nav class="sidebar" id="sidebar">
	<ul class="nav">

		<li class="nav-item">
			<a class="nav-link menu-title" href="#">
				Dashboard
			</a>
		</li>
		<li class="nav-item">
			@Html.ActionLink("All Products", "List", "Products", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
		<li class="nav-item">
			@Html.ActionLink("All Customers", "Customers", "Dashboard", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
		<li class="nav-item">
			@Html.ActionLink("All Orders", "Orders", "Dashboard", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
		<li class="nav-item">
			@Html.ActionLink("Messages from Users", "UserMessages", "Dashboard", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
		<li class="nav-item dropdown-divider"></li>
		<li class="nav-item">
			@Html.ActionLink("Add New Product", "Add", "Products", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
		<li class="nav-item">
			@Html.ActionLink("Add New Category", "Add", "Categories", null, htmlAttributes: new { @class = "nav-link menu-title" })
		</li>
	</ul>
</nav>
