<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<title>Lighten - @ViewBag.Title</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="/Content/css/bootstrap.min.css">
	<link rel="stylesheet" href="/Content/css/style.css">
	<link rel="stylesheet" href="/Content/css/responsive.css">
	<link href="/Content/css/errorStyles.css" rel="stylesheet" />
	<link rel="icon" href="/Content/images/fevicon.png" type="image/gif" />
	<link rel="stylesheet" href="/Content/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="main-layout">
	<!-- loader  -->
	<div class="loader_bg">
		<div class="loader"><img src="/Content/images/loading.gif" alt="#" /></div>
	</div>
	<!-- end loader -->
	<!-- header -->
	<header>
		<!-- header inner -->
		<div class="header">
			<div class="head_top">
				<div class="container-md">
					<div class=" row align-items-center justify-content-sm-center">
						<div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
							<div class="top-box p-sm-0">
								<ul class="sociel_link">
									<li> <a href="#"><i class="fa fa-facebook"></i></a></li>
									<li> <a href="#"><i class="fa fa-twitter"></i></a></li>
									<li> <a href="#"><i class="fa fa-instagram"></i></a></li>
									<li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 px-0 p-xs-0">
							<div class="top-box d-flex align-items-center justify-content-md-end">
								@Html.Action("Summary", "Cart")
							</div>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
							<section class="singin">
								@Html.ActionLink("Sing In", "Login", "SignIn", null, htmlAttributes: new { @class = "btn btn-outline-dark" })
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
						<div class="full">
							<div class="center-desk">
								<div class="logo"><img src="/Content/images/logo.jpg" alt="logo" /></div>
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
						<div class="menu-area">
							<div class="limit-box">
								<nav class="main-menu">
									@Html.Action("Menus", "Menu")
								</nav>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<!-- end header inner -->
		</div>
	</header>
	@RenderBody()
	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<ul class="sociel">
							<li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
							<li> <a href="#"><i class="fa fa-twitter"></i></a></li>
							<li> <a href="#"><i class="fa fa-instagram"></i></a></li>
							<li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
						<div class="contact">
							<h3>conatct us</h3>
							<span>
								123 Second Street Fifth Avenue,<br>
								Manhattan, New York<br>
								+987 654 3210
							</span>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
						<div class="contact">
							<h3>ADDITIONAL LINKS</h3>
							<ul class="lik">
								<li>@Html.ActionLink("About Us", "Index", "About")</li>
								<li> <a href="#">Terms and conditions</a></li>
								<li> <a href="#">Privacy policy</a></li>
								<li>@Html.ActionLink("Contact Us", "Index", "Contact")</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
						<div class="contact">
							<h3>Categories</h3>
							<ul class="lik">
								@Html.Action("Categories", "Category")
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
						<div class="contact">
							<h3>About lighten</h3>
							<span>Tincidunt elit magnis nulla facilisis. Dolor Sapien nunc amet ultrices, </span>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<p>Copyright 2019 All Right Reserved By matin360</p>
			</div>

		</div>
	</footer>
	<!-- end footer -->
	<!-- Javascript files-->
	<script src="/Scripts/jquery.min.js"></script>
	<script src="/Scripts/popper.min.js"></script>
	@RenderSection("ValidationSection", false)
	<script src="/Scripts/bootstrap.bundle.min.js"></script>
	<script src="/Scripts/jquery-3.0.0.min.js"></script>
	<script src="/Scripts/plugin.js"></script>
	<!-- sidebar -->
	<script src="/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/Scripts/custom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function () {
			$(".fancybox").fancybox({
				openEffect: "none",
				closeEffect: "none"
			});

			$(".zoom").hover(function () {

				$(this).addClass('transition');
			}, function () {

				$(this).removeClass('transition');
			});
		});

		/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
		function myFunction() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
		}
	</script>
</body>
</html>
